*{
    margin:0;
    padding: 0;
}
nav{
   background-color: black;
    height: 50px; 
   font-size: 27;
   text-align: center;
   padding: 5px 0px;
}

nav h1{
    margin: 5px;
    color: antiquewhite;
}

.gameContainer{
    /* background-color:chartreuse; */
    display: flex;
    justify-content: center;
    position: relative;
    height: 451px;
}
.container{
    position: absolute;
    display: grid;
    grid-template-rows:repeat(3,10vw) ;
    grid-template-columns: repeat(3,10vw);
}

.box{
    font-size:8vw;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
}
.box:hover{
    background-color: rgb(243, 219, 219);

}
.imgbox{
    position: absolute;
    width: 467px;
    text-align: center;
    z-index: -1;
    top:88px;
    opacity:0.5
}
.imgbox img{
       
    visibility:hidden;
    height: 225px;
}
.btninfo{
    margin-top: 20px;
    height: 30px;
    text-align: center;
}
.btninfo button{
    height: 50px;
    width: 70px;
    border-radius: 12px;
    background-color:rgb(246, 204, 204)
}
.info{
    text-align: center;
   
    height: 30px;
    margin: 50px 0px 20px 0px ;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
/* .line{
    background-color: black;
    width: 100%;
    height: 3px;
    position: absolute;
} */
@media screen and (max-width: 800px)
{
    .imgbox{
        top:35px;
    }
    .imgbox img{
        visibility:hidden;
        height: 100px;
    }

}